.about-list__frame-icon {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.about-list {
    width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
} 


.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about__container {
    display: flex;
}
.about-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin-bottom: 10px;
}

.about-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575
}